@keyframes moveToLeftMenuResponsive {
  from {
    transform: translateX(75px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
/* Button Menu */
.line {
  position: inherit;
  height: 5px;
  width: 100%;
  background: white;
  border-radius: 10px;
  transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.32s;
}
.line01 {
  top: 19%;
}
.line02 {
  top: 49%;
  left: 40%;
}
.line03 {
  top: 79%;
}
.close .line01 {
  transform: rotate(45deg);
  top: 49%;
}
.close .line02 {
  opacity: 0;
}
.close .line03 {
  transform: rotate(-45deg);
  top: 49%;
}

//////////PORTRAIT/////////
/* Small devices portrait */
.menu-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 10vw;
  top: 5vh;
}
.collapsed {
  display: none;
}
.expanded {
  position: absolute;
  left: 10vw;
  top: 25vh;
  padding: 0;
  margin: 0;
  animation: moveToLeftMenuResponsive 1s;
}
.nav-item {
  list-style-type: none;
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-bottom: 5vh;
}

/* Medium devices portrait */
@media only screen and (min-width: 768px) and (orientation: portrait) {
  .menu-icon {
    display: none;
  }
  .collapsed {
    display: flex;
    justify-content: space-between;
    margin: 5vh 5vw 0 5vw;
    padding: 0;
    width: 90vw;
  }
  .expanded {
    display: flex;
    justify-content: space-between;
    margin: 5vh 5vw 0 5vw;
    padding: 0;
    width: 90vw;
  }
  .menu-links {
    display: flex;
    justify-content: space-between;
    margin: 5vh 5vw 0 5vw;
    padding: 0;
    width: 90vw;
  }
  .nav-item {
    font-size: 25px;
    display: inline;

    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.5s;
  }
  .nav-item:hover {
    font-weight: bold;
    cursor: pointer;
    background-size: 100% 2px;
  }
}
/* Large devices portrait */
@media only screen and (min-width: 992px) and (orientation: portrait) {
}
//////////LANDSCAPE//////////
/* Small devices landscape */
@media only screen and(orientation: landscape) {
  .expanded {
    top: 35vh;
  }
  .nav-item {
    text-transform: none;
    display: block;
    justify-content: space-between;
    font-size: 30px;
  }
  @keyframes moveToLeftMenuResponsive {
    from {
      transform: translateX(200px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
/* Medium devices landscape */
@media only screen and (min-width: 992px) and (orientation: landscape) {
  .menu-icon {
    display: none;
  }
  .collapsed {
    display: flex;
    justify-content: space-between;
    margin: 5vh 5vw 0 5vw;
    padding: 0;
    width: 90vw;
  }
  .expanded {
    display: flex;
    justify-content: space-between;
    margin: 5vh 5vw 0 5vw;
    padding: 0;
    width: 90vw;
  }
  .menu-links {
    display: flex;
    justify-content: space-between;
    margin: 5vh 5vw 0 5vw;
    padding: 0;
    width: 90vw;
  }
  .nav-item {
    display: inline;
    margin-right: 5vw;

    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size 0.5s;
  }
  .nav-item:hover {
    font-weight: bold;
    cursor: pointer;
    background-size: 100% 2px;
  }
}
