@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

:root {
  --off-white: #333;
}

.App {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
}

/*
  FOOTER
*/

/******************/

.section-dark {
  background: #333;
  color: white;
}

.section-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400");

.button-link {
  position: sticky;
  margin-top: 5vh;
  top: 10vh;
  left: 90vw;
  width: 60px;
  height: 60px;
}
.bg,
.button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.bg {
  animation: pulse 1.2s ease infinite;
  background: #ff8c00;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 99;
  border: none;
  background: #ff8c00;
  background-size: 18px;
  cursor: pointer;
  outline: none;
  color: #fff;
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
